@charset "utf-8";
*{padding:0; margin:0;}
img{border:none;}

body{
	font-family: "Oswald",sans-serif;
}

#wrapper{
	margin:0 auto;
	position:absolute;
}
#container1
{
	height:75%;
	width:100%;
}
#separador
{
	height:5%;
	width:100%;
	background-color:white;
}
#container2
{
	height:20%;
	background-color:black;
	width:100%
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
.lateral
{
	width:200px;
	float:left;
	background:white;
	height:inherit;
}
.box
{
	width:inherit;
	color:#4dc8f2;
	height:105px;
	background-color:white;
	margin:15px 0 0 10px;
	font-size:13px;
	border: 1px solid rgb(225, 225, 225);
	font-family: "Oswald",sans-serif;	
}
.titulo
{

	font-size:16px;	
	color:#7f7f7f;
	font-family: "Oswald",sans-serif;
	width:inherit;
	height:30%;
	text-align:center;
}
.linea
{
	color:#c0c0c0;
	background-color:#c0c0c0;
	margin-left:auto;
	margin-right:auto;
	height: 1%;
	width:96%;
}
.links
{
	height: 69%;
	width:inherit;
	text-align:center;
}
a:link{
	color:#7f7f7f;
	text-decoration:none;
	
}
a:hover{
	color: rgb(64, 154, 230);
    text-decoration: none;
}
td{
	list-style-image: url('/images/lista.png');
	font-size:14px;

}
.cuerpo{
	
	
	padding-left:20px;
	overflow:auto;
	height:100%;	
}

#cuerpo h1{
	color:#333333;
	margin:30px 0 15px 0;
	font-weight:normal;
	font-size: 28px;
}


#cursos{
	list-style:none;
	font-family: "Oswald",sans-serif;
	
}

#cursos a{
    color: #000000;
    text-decoration: none;
}
#cursos a:hover{
  color: rgb(64, 154, 230);
    text-decoration: none;
}
.curso a:hover{
	  color: rgb(64, 154, 230);
    text-decoration: none;
}

.curso{
	
	border-color: #CCC;
	font-size:13px;
	text-transform:lowercase;
	border-style: none;
	float: left;
	width: 175px; 
	height: 85px; 
	padding:5px; 
	margin: 8px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	 border: 1px solid rgb(225, 225, 225) !important;
    background: rgb(230,230,230);
	border-color: white;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1', gradientType='0');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1', gradientType='0');
	border: 1px solid rgb(225, 225, 225) !important;
        background: rgb(230,230,230);

	
	position:relative;
}


.curso .nombre{
color: #000000;
font-weight:bold;
text-decoration: none;
font-size:15px;
}


.curso:hover .nombre{
 color: rgb(64, 154, 230)
}


.numero_notificaciones{
	display:block;
	height:25px;
	line-height:25px;
	font-size:16px;
	width:50px;
	position:absolute;
	right:0;
	bottom:10px;
	background:url(images/numbgs.png) no-repeat;
	text-align:center;
	color:#FFF;
}
#abajo{
	background: black;
	position: absolute;
	top:28em;
	width: 100%;
	 
	
	
}

/* ---------------------------- popup -----------------------------*/

.popup_curso{
	width:900px;
	max-height:500px;
	background:#FFF;
	padding:10px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-215px;
	margin-left:-410px;
	-moz-box-shadow: 0 0 30px #888;
	-webkit-box-shadow: 0 0 30px #888;
	box-shadow: 0 0 30px #888;
	z-index:5;
	display:none;
}

.contenido_popup{
	overflow:auto;
	max-height:400px;	
}

.contenido_popup div{
	display:none;
}

#overlay{
	width:100%; 
	height:100%; 
	position:fixed; 
	top:0px; 
	left:0px; 
	background:url(images/overlaybg.png);
	z-index:4;
	display:none;
}

.close{
	width:49px;
	display:block;
	height:49px;
	position:absolute;
	top:-25px;
	right:-25px;
	background:url(images/close.png) no-repeat;
}
/* ---------------------------- table -----------------------------*/


table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #666666;
	border: 1px solid #FFF;
	font-size: 8pt;
	color: #FFFFFF;
	text-transform:uppercase;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #C8D1D1;
}
a:link   
{   
 text-decoration:none;   
}